.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginForm > .item {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.loginForm > .heading {
    align-self: center;
}

.loginForm > .button {
    align-self: center;
}